<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664626427524-fpaqjk942t3osjgiibiru7l7rspr1gl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664626427524-fpaqjk942t3osjgiibiru7l7rspr1gl0</string>
	<key>API_KEY</key>
	<string>AIzaSyCoumpwl4m5gIYQn5f3aRXTzMOlZruKRxU</string>
	<key>GCM_SENDER_ID</key>
	<string>664626427524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CorporateFood</string>
	<key>PROJECT_ID</key>
	<string>corporatefood-9bd59</string>
	<key>STORAGE_BUCKET</key>
	<string>corporatefood-9bd59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664626427524:ios:c5f5ce23003c1a6915f4d1</string>
</dict>
</plist>